@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.top-banner{
    background-image: linear-gradient(90deg, rgba(1,1,9,1) 0%, rgba(1,1,9,0.6559217436974789) 0%),  url('https://images.unsplash.com/photo-1513635269975-59663e0ac1ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: #fff;
}
.top-banner .banner-section{
    padding: 100px 10px 80px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.top-banner .banner-section .lft{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}


.top-banner .banner-section .lft .sub p{
    font-size: 50px;
    letter-spacing: 15px;
    font-family: fantasy;
}

.top-banner .banner-section .lft  h5{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.top-banner .banner-section .lft  p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.top-banner .banner-section .lft .flexible a{
    text-decoration: none;
    color: #fff;
    border: 2px solid;
    padding: 11px 30px;
    border-radius: 5px;
}

.top-banner .banner-section .lft .flexible a:active{
    border: transparent;
    color: transparent;
}

.services-nav-link {
    background: #dadada;
    width: 100%;
    height: 107px;
    padding-top: 29px;
}
.services-nav-link .services-containers{
    display: flex;
    justify-content: space-evenly;
}

.services-nav-link .services-containers .services-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    align-items: center;
}

.service-add{
    margin-top: 2rem;
}

.service-add .service-add-content .justify{
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

.service-add .service-add-content .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-size: 29px;
}

.service-add .service-add-content .justify .cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
}

.service-add .service-add-content .justify .cell #p{
    width: 70%;
}

.service-add .service-add-content .justify .cell img{
    border-radius: 6px;
}

.factory-reset{
    background: #cbcbcb;
    padding: 30px 10px;
}


.factory-reset .features-container .justify{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px 10px;
}

.factory-reset .features-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 32px;
}

.factory-reset .features-container .justify .cell{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    gap: 22px;
}

.factory-reset .features-container .justify .cell img{
    width: 100px;
    background: #fff;
    border-radius: 50%;
    padding: 6px 6px;
}

.bottom-banner{
    background-image: linear-gradient(90deg, rgba(1,1,9,1) 0%, rgba(1,1,9,0.6559217436974789) 0%),  url('https://images.pexels.com/photos/4065137/pexels-photo-4065137.jpeg?auto=compress&cs=tinysrgb&w=800');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    color: #fff;
}

.bottom-banner .bottom-banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 52px 6px;
    gap: 18px;
}

.bottom-banner .bottom-banner-container .button{
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #fff;
    padding: 11px 20px;
    gap: 20px;
    justify-content: center;
    border-radius: 6px;
}

.bottom-banner .bottom-banner-container .button a{
    text-decoration: none;
    color: #fff;
}

.bottom-banner .bottom-banner-container .button:hover{
    border: transparent;
}
.footer{
    background: #000;
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 6px;
}


@media screen and (max-width: 602px) {
    .service-add .service-add-content .justify{
        display: inline-block;
    }
    .top-banner{
        height: 100vh;
    }
    .factory-reset .features-container .justify{
        display: inline-block;
    }
    .factory-reset .features-container .title {
        font-size: 14px;
    }
    .factory-reset .features-container .justify .cell{
        font-size: 9px;
    }

}