.Fliter-bar{
    color:#000;
    margin-top: 3rem;
}
#fullWidth{
    border: 2px solid;
}

.job-view{
    color: #000;
    flex: 2;
}

.job-details{
    color: #000;
}

.job-View-set{
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
    background: #e5e5e5;
}

.job-view .card img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 31px 15px;
}

.job-view .card{
    display:flex;
    gap: 1rem;
    
}

.profile-page {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: monospace;
}

.profile-page .profile-img img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%
    
}


.profile-page .profile-content .profile-update{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.profile-page .profile-content {
    padding: 2px 34px;
}

.profile-page .profile-img{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: end;
}

.profile-page .profile-img label{
    cursor: pointer;
}

.profile-page .profile-content .profile-update .update-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.profile-page .profile-content .profile-update button{
    width: 100%;
    border-radius: 33px;
    color: #fff;
    background: #0a66c2;
    border: 2px solid #fff;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 17px;
}


.job-cards{
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.job-cards .job-card{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}


.job-cards .job-card .card  .card-first{
    padding-right: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.job-cards .job-card  .card-content{
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar{
    color: #445578;
}
.navbar-buttons{
    color: #445578;
}
.navbar-list{
    border-radius: 26px;
}

.filtersContainer{
    flex: 1 1;
    margin-right: 25px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 6px 3px;
}

.filtersContainer .filterHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    font-size: 19px;
    font-family: monospace;
    gap: 11px;
}

.filtersContainer .filters .filterContainers .filter-heading{
    display: flex;
    justify-content: space-between;
    padding: 16px 10px;
    align-items: center;
    font-size: 17px;
    font-family: monospace;
    padding-bottom: 5px;
    font-family: monospace;
    cursor: pointer;
}
.filtersContainer .filters .filterContainers button{
    padding: 0;
    margin: 0;
    width: 100%;
}
.filtersContainer hr{
    width: 85%;
    margin: 5px 23px;
}
.filtersContainer .filters .filterContainers{
    background: #eeeded;
    margin: 1px 9px;
}

.filtersContainer .filters .filterContainers .filterOpen .chckBoxCont{
    display: flex;
    font-size: 17px;
    text-align: center;
    align-items: center;
    gap: 16px;
    padding: 4px 2rem;
}

.job-view .job-cards .jobTupleHeader{
    display: flex;
    justify-content: space-between;
    padding: 15px 31px;
}

.job-view .job-cards .jobTupleHeader a{
    text-decoration: none;
}

.job-view .job-cards .jobTupleHeader ul{
    display: flex;
    font-size: 14px;
    list-style-type: none;
}
.job-view .job-cards .jobTupleHeader ul li{
    display: flex;
    justify-content: center;
    margin: 1px 7px;
    align-items: center;
    margin-top: 18px;
}
.job-view .job-cards .jobTupleHeader ul li .icons{
    font-size: 22px;
}
.job-view .job-cards .jobTupleHeader .rec-img img{
    width: 5rem;
}
.job-view .job-cards .job-description{
    font-size: 17px;
    display: flex;
    gap: 7px;
    padding-left: 23px;
}
.job-view .job-cards .job-description .icon{
    font-size: 22px;
}
.job-view .job-cards .jobTupleFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}
.job-view .job-cards .jobTupleFooter .job-type{
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-right: 27px;
    background: #d7d7d7;
    padding: 3px 7px;
    border-radius: 5px;
}
.job-view .job-cards .jobTupleFooter .job-type .icon{
    font-size: 12px;
}
.paper{
    padding: 30px 27px;
    margin-bottom: 2.3rem;
}

.job-view .job-cards .jobTupleHeader .job-info .company-info{
    font-size: 14px;
    margin-top: 7px;
}
.details-portion{
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
.details-portion p{
    background: #cbcbcb;
    padding: 6px 28px;
    border-radius: 7px;
    font-size: 17px;
}
.details-part{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.filters #filter-button{
    padding: 11px 0px;
    margin: 14px 50px;
    color: #fff;
    border: 2px solid #fff;
    background: #000;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
}

.filters #filter-button:hover{
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}

.filters #filter-button:active{
    color: #445578;
    background: #cbcbcb;
    border: 2px solid #fff;
}




@media screen and (max-width: 602px) {
    #navbar-logo{
      display: none;
    }
  }