.Fliter-bar{
    color:#000;
    margin-top: 3rem;
}
#fullWidth{
    border: 2px solid;
}

.job-view{
    color: #000;
}

.job-details{
    color: #000;
}

.job-View-set{
    display: flex;
    justify-content: center;
    padding: 1px 3rem;
    margin-top: 2rem;
}

.job-view .card img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 31px 15px;
}

.job-view .card{
    display:flex;
    gap: 1rem;
    
}




.profile-page {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.profile-page .profile-img img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%
}


.profile-page .profile-content .profile-update{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}
.profile-page .profile-content {
    padding: 1px 3rem;
}

.profile-page .profile-img{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.profile-page .profile-img label{
    cursor: pointer;
}

.profile-page .profile-content .profile-update .update-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.profile-page .profile-content .profile-update button{
    margin: 0;
    padding: 4px 23px;
    border-radius: 20px;
    border: 3px solid #000;
    color: #000;
    background: #fff;
    font-weight: bolder;
}


.job-cards{
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.job-cards .job-card{
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
}


.job-cards .job-card .card  .card-first{
    padding-right: 2rem;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.job-cards .job-card  .card-content{
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}