.posted-job-details{
    display: flex;
    justify-content: space-between;
    padding: 2px 9px;
    gap: 20px;
}

.posted-job-details .job-view{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.posted-job-details .job-view .job-cards .paper{
    cursor: pointer;
}

#applied-job-table .MuiDataGrid-main {
    width: 770px;
}

#resume{
    text-decoration: none;
    background: #b40d0d;
    padding: 7px 17px;
    border-radius: 10px;
    color: #fff;
    border: none;
}

#decline{
    background: #fe0000;
    border: none;
    color: #fff;
    border-radius: 9px;
    padding: 5px 18px;
}

#shorlist{
    text-decoration: none;
    background: #105a75;
    padding: 7px 17px;
    border-radius: 10px;
    color: #fff;
    border: none;
}


@media screen and (max-width: 1000px) {
    #applied-job-table .MuiDataGrid-main {
        width: 304px;
    }
  }