@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
}

.css-1061a19-MuiPaper-root-MuiAppBar-root{
    color: none;
}


.register {
    background-color: 354152;
    border-radius: 20px;
    box-shadow: 0 0 250px #000;
    border: 2px solid #fff;
}

.reg-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0rem;
  background-color: #354152;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.search form {
    padding-bottom: 0rem;
}

a, a:visited {
    color: #000;
}

input[type="text"],
input[type="password"],
button,
textarea {
    font-size: 17px;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: none;
    background: #d5d5d5;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    color: red;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #fff;
    border-radius: 27px;
    background-color: #354152;
    box-shadow: 0 0 250px #000;
}

.line {
    display: inline-block;
}


.submit-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-area button{
    width: 40%;
    background-color: #354152;
    border: 0.5px solid #fff;
    color: #fff;
    box-shadow: 0 0 250px #000;
}

.submit-area a{
    background-color: #354152;
    text-decoration: none;
    color: #fff;
    margin-top: 2rem;
    padding: 7px 14px;
    border-radius: 20px;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


.submit-area a:hover{
    background-color: transparent;
}

select{
    height: 2rem;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-align: center;
}

.posted{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.subscription-plan .single-plans-card{
    display: flex;
    margin-top: 15%;
    gap: 40px;
}

.subscription-plan .single-plans-card .membership-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.subscription-plan .single-plans-card #inner-single-plan{
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 450px;
    font-family: monospace;
}
.subscription-plan .single-plans-card #inner-single-plan h3{
    text-align: center;
}
#already-paid{
    padding-top: 25%;
    font-size: 35px;
    letter-spacing: 4px;
    font-family: monospace;
    color: #1ab5cd;
}
#already-paid a{
    text-decoration: none;
    color: #b10f0f;
}


.subscription-plan .single-plans-card #inner-single-plan .memebership-content-text{
    width: 55%;
}

.subscription-plan .single-plans-card #inner-single-plan  .memebership-price{
    font-size: 23px;
}

.subscription-plan .single-plans-card #inner-single-plan  .memebership-price span{
    color: #207edf;
}

label, button {
    margin-top: 0rem;
}
